/* --City-- */
/*create city*/



/*.form-group
{
    position: absolute;
    background-color: brown;
}*/

.card-footer
{
    height: 10;
    color: #2E3A5C;
}

.card-title
{
    color: #fff;
    position: relative;
    padding: 18px 16px 15px;
}

.card-footer .btn-primary
{
    color: #2E3A5C;
    background-color: #fff;
    font-size: 14px;
    font-weight: 600;
    padding: 10px 12px 8px;
    border-radius: 5px;
    transition: all 0.3s ease 0s; 
}

/*cities table*/

.card-header
{
    background: #2E3A5C;
    padding: 15px;
    margin: 0;
}

.btn-outline-primary
{
    background-color: #fff;
    color: #2E3A5C;
}

.btn-outline-warning
{
    display: inline-block;
    color: #fff;
    background-color: orange;
    padding: 5px 10px;
}

.btn-outline-danger
{
    display: inline-block;
    color: #fff;
    background-color: red;
    padding: 5px 10px;
}

.form-group .btn-outline-danger .btn-outline-warning td
{
    display: inline-block;
}


/*Create University*/
.card-tools
{
    background: #2E3A5C;
    padding: 15px;
    border-radius: 20px;
    margin: 0;
}

.btn-outline-secondary
{
    background-color: #fff;
    color: #2E3A5C;
}

.card-footer
{
    background-color: #2E3A5C;
}

/*Coplaints*/
.btn-danger
{
    border-radius: 20px;
}

.btn-success
{
    border-radius: 20px;
}

.btn-primary
{
    border-radius: 20px;
}

.card-body
{
    box-shadow: #2c96d3;
}

/*Sidebar*/

.main-sidebar
{
 
    background-color: #2e3a5c;
}

.brand-text
{
    color: #2c96d3;
}

.img-circle
{
    box-shadow: #2c96d3;
}

.font-weight-light
{
    color: #fff;
}

.d-block
{
    color: #fff;
}

.input-group .form-control-sidebar
{
    background-color: #fff;
    color: #2E3A5C;
}

.input-group-append .btn-sidebar
{
    background-color: #2c96d3;
}

.btn-secondary
{
    background-color: #fff;
    color: #2E3A5C;
}

[class*=sidebar-dark-] .sidebar a {
    color: #ffffff;
}

[class*="sidebar-dark-"] .nav-header {
    background-color: inherit;
    color: #ffffff;
    font-weight: bold;
}

/*Navbar*/

.fa-bell
{
    color: #2E3A5C;
}

.fa-sign-in-alt
{
    color: #2E3A5C;
}

.fa-user-circle
{
    color: #2E3A5C;
    padding: 5px 10px 0px 10px;
}

a
{
    color:#2E3A5C;
    text-decoration: none;
    background-color: transparent;
}

.dropdown-menu-right
{
    background-color: #fff;
    width: 100px;
    height: 30px;
    border-radius: 20px;
    border-width: 3px;
}

.language
{
    background-color: #fff;
    width: 100px;
    height: 30px;
    border-radius: 20px;
    border-width: 3px;
}

/*Home Page*/

.logo-container
{
    border-radius: 30px;
    background-color: #2E3A5C;
    background-image: url("/assets/img/logo.jpeg") !important;
}


/*Log In*/

.loginLogo
{
    width: 150px;
    height: 150px;
    border-radius: 120px;
}

.bodyLogin
{
    width: auto;
    height: auto;
    background-color: lightgray;
}

.loginContainer
{
    border-radius: 120px;
}

#key
{
    border-radius: 20px;
    background-color:#fff;
}

#type_username_id
{
    border-radius: 20px;
    background-color:#fff;
}

#name
{
    border-radius: 20px;
    background-color:#fff;
}

#password
{
    border-radius: 20px;
    background-color:#fff;
}

#email
{
    border-radius: 20px;
    background-color:#fff;
}

.items-center
{
    border-radius: 20px;
    background-color:#fff;
}

.ml-2
{
    color: #2E3A5C;
}

.ml-3
{
    color: #fff;
}

.flex
{
    justify-content: right;
}